{% extends "base.html" %}

{% block content %}

{% include "nav-app.html" %}

<section class="container">
  <div class="d-flex justify-content-center">
    <img class="mt-4" height="130px" src="{{profile.picture}}" alt="">
  </div>
    <table class="table mt-4">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{profile.name}}</td>
            <td>{{profile.email}}</td>
          </tr>
        </tbody>
      </table>
</section>

{% endblock %}